streamlit
requests
pillow
replicate
numpy
pandas
gtts
streamlit-option-menu
fpdf

moviepy
openai
opencv-python
runwayml
httpx

flask
midiutil

openpyxl
pydub
ffmpeg
plotly
dash
dash-core-components
dash-html-components
dash-bootstrap-components
PyPDF2
pytesseract
pyttsx3
opencv-python-headless
pedalboard
python-docx
reportlab
xlsxwriter
tqdm
stability-sdk
pygame
streamlit-quill
streamlit-editorjs
streamlit-aggrid
altair
